<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h2 class="text-center mb-4">Iniciar Sesión</h2>
      <div class="container mt-5">
        <h2>Iniciar Sesión</h2>
        <form (ngSubmit)="login()">
          <div class="mb-3">
            <label>Usuario</label>
            <input [(ngModel)]="usuario" name="usuario" class="form-control" required />
          </div>
          <div class="mb-3">
            <label>Contraseña</label>
            <input [(ngModel)]="contrasena" name="contrasena" type="password" class="form-control" required />
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Entrar</button>

          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

