<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="p-4 border rounded shadow bg-light" style="min-width: 300px;">
    <h2 class="text-center text-primary mb-4">Iniciar Sesión</h2>
    <form (ngSubmit)="iniciarSesion()">
      <div class="mb-3">
        <label for="usuario" class="form-label">Usuario</label>
        <input type="text" [(ngModel)]="usuario" name="usuario" required class="form-control">
      </div>
      <div class="mb-3">
        <label for="contrasena" class="form-label">Contraseña</label>
        <input type="password" [(ngModel)]="contrasena" name="contrasena" required class="form-control">
      </div>
      <div class="d-grid">
        <button class="btn btn-primary" type="submit">Entrar</button>
      </div>
    </form>
  </div>
</div>
