<div class="container mt-5">
  <h2 class="mb-4">Panel de Indicadores</h2>
  <div class="row">
  
    <div class="col-md-4">
      <div class="card text-white bg-primary mb-3">
        <div class="card-header">Total de Salas</div>
        <div class="card-body">
          <h5 class="card-title">{{ totalSalas }}</h5>
        </div>
      </div>
    </div>

   
    <div class="col-md-4">
      <div class="card text-white bg-success mb-3">
        <div class="card-header">Salas Disponibles</div>
        <div class="card-body">
          <h5 class="card-title">{{ salasDisponibles }}</h5>
        </div>
      </div>
    </div>

   
    <div class="col-md-4">
      <div class="card text-white bg-info mb-3">
        <div class="card-header">Total de Películas</div>
        <div class="card-body">
          <h5 class="card-title">{{ totalPeliculas }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
